table {
	margin: 1em auto;
	width: max-content;
}

td:nth-child(1) {
	font-weight: bold;
	text-align: right;
}

td:nth-child(2) {
	font-style: italic;
	text-align: center;
}

td:nth-child(3) {
	text-align: center;
}
