table {
	margin: 1em auto;
	width: max-content;
}

header,
header > h1 {
	margin: 0;
}

.even {
	background-color: #e6e6e6;
}

td:nth-child(1) {
	/* font-weight: bold; */
	text-align: right;
}

td:nth-child(2) {
	font-style: italic;
	text-align: center;
}

td:nth-child(3) {
	text-align: center;
}

td:nth-child(4) {
	max-width: 20ch;
}
